.Login{
    position: relative;
    height: 100%;
}

.login_logo h1 {
    color: white;
    left: 20px;
    top: 20px;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.408) 0,
        rgba(0, 0, 0, 0.408) 60%,
        rgba(0, 0, 0, 0.408) 100%
    );
}

.login_button {
    position: fixed;
    right: 20px;
    top: 30px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    background-color:rgba(250, 4, 4, 0.808);
    padding-bottom: .5rem;
}
.login_Body{
    position: absolute;
    margin: center;
    top: 30%;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
    left: 0;
    right: 0;
}

.login_Body h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
    text-align: center;
}
.login_Body h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login_Body h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

/* editing styles to the form to the input */
.logIn_input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.signUp_button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.logIn_input {
    margin:20px;
}
